<% provide(:title, 'Auction')%>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Our Best Services</h3>
				<p>Great design is about more than style,it,s about being yoursel</p>
			</div>
			<div class="services-bottom">
				<div class="row">
					  <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
            <%= link_to image_tag("g2.jpg", alt: "#"), root_path %>
					  <div class="caption">
					    <a href="single.html"><h3>Praesentium voluptatum</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
            <%= link_to image_tag("g3.jpg", alt: "#"), root_path %>
					  <div class="caption">
					   <a href="single.html"> <h3>Accusantium doloremque</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
            <%= link_to image_tag("g4.jpg", alt: "#"), root_path %>
					  <div class="caption">
					    <a href="single.html"><h3>Thumbnail label</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
				   <div class="clearfix"> </div>
				</div>
				<div class="row">
					  <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
            <%= link_to image_tag("g5.jpg", alt: "#"), root_path %>
					  <div class="caption">
					    <a href="single.html"><h3>Lorem ipsum dolor</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
            <%= link_to image_tag("g6.jpg", alt: "#"), root_path %>
					  <div class="caption">
					   <a href="single.html"> <h3>Established fact</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
					   <div class="col-sm-6 col-md-4 ser">
					<div class="thumbnail">
            <%= link_to image_tag("g7.jpg", alt: "#"), root_path %>
					  <div class="caption">
					    <a href="single.html"><h3>Neque porro quisquam</h3></a>
					    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
					  </div>
					</div>
					  </div>
				   <div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
