<% provide(:title, 'Auction')%>
<div class="services">
	<div class="container">
		<div class="services-main">
			<div class="services-top">
				<h3>Our Best Services</h3>
				<p>Great design is about more than style,it,s about being yoursel</p>
			</div>
			<div class="services-bottom">
				<div class="row">
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g2.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					    	<a href="single.html"><h3>Praesentium voluptatum</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">250.000 k</span>
					  	</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g2.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					    	<a href="single.html"><h3>Praesentium voluptatum</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">1.150.000 k</span>
					  	</div>
						</div>
					</div>					
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g3.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					   		<a href="single.html"> <h3>Accusantium doloremque</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">150.000 k</span>
					  	</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g4.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					    	<a href="single.html"><h3>Thumbnail label</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">150.000 k</span>
					  	</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g5.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					    	<a href="single.html"><h3>Lorem ipsum dolor</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">150.000 k</span>
					  	</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g6.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					   		<a href="single.html"> <h3>Established fact</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">150.000 k</span>
					  	</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g7.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					    	<a href="single.html"><h3>Neque porro quisquam</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">150.000 k</span>
					  	</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 ser">
						<div class="thumbnail">
            	<%= link_to image_tag("g2.jpg", alt: "#"), root_path %>
					  	<div class="caption text-center">
					    	<a href="single.html"><h3>Praesentium voluptatum</h3></a>
					    	<p><span id="countdowntimer" class="text-danger">10 </span> Seconds</p>
								<span class= "last-bid-user rows">150.000 k</span>
					  	</div>
						</div>
					</div>			
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
</div>
