<% provide(:title, @product.name)%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>
<div class= "left_col">
  <div id="product_id" class="extended_view single_product" data-timer-id=<%= params['id'] %>>
    <h2 class="product_title">
      <a id="ContentPlaceHolder1_lnkTitle"><span id="ContentPlaceHolder1_lbTitle"><%= @product.name %></span></a>
    </h2>
    <div id="ContentPlaceHolder1_UpdatePanel2">
    </div>
    <div class="product_photo_wrp">
      <div class="product_photo">
        <div class="zoomWrapper" id = "first-image">
          <%= image_tag @product.assets.first.file_name.url, alt: @product.name, id: "expandImg", class: "slow-images", style: "max-width: 150%;border: 1px solid #ccc;" %>        
        </div>
        <div class="loading-image" style="display: none;"></div>
      </div>
      <ul class="product_gallery" id="js-gallery">
      <% @product.assets.each do |asset| %>
        <li class="product_thumb"><%= image_tag asset.file_name_url, onclick: "changeImg(this)", class: "slow-images" %></li>
      <% end %>
      </ul>
    </div>
    <div class="product_info">
      <div class="left-product">
        <p class="info_field ends_in_label">Finish in: </p>
        <p class="timeout last_minute" style="height: 20px; color: rgb(204, 51, 85);"><span id="spanEndAuction"></span><span id="spanCountDown" class="timeout last_minute" style="color: rgb(204, 51, 85);">LOADING</span></p>
      </div>
      <div id="ContentPlaceHolder1_UpdatePanel4">
        <div class="right-product">
          <p class="info_field current_bid_label">Price at: </p>
          <p class="info_data current_bid" id="product-price">LOADING</p>
        </div>
      </div>
      <div id="ContentPlaceHolder1_UpdatePanel1">
        <div class="right-product">
          <p class="info_field place_bid_label">Bid now:</p>
          <div class="info_data place_bid">
            <span class="bidding_box">
            <span class="bid_box">
            <span class="minus box_puls_minus">
            <input type="button" value="-" id="sub-price">
            </span>
            <span class="bid_text_number">
            <input value="" maxlength="10" class="input_placebid" id="price-input" readonly>
            </span>
            <span class="puls box_puls_minus">
            <input type="button" value="+" id="plus-price">
            </span>
            </span>
            </span> 
            <span class="bidding_button"><a id="ContentPlaceHolder1_btnBid" class="buttons bidding large"><span class="place_one">Bid now</span><span class="bidding_two">Bidding..</span></a></span>          
          </div>
          <div class="info-product-right">
            <p class="bidding_msg"></p>
            <div class="current-winner">
              <div class="right-winner-name">
                <p class="info_field winner"><strong>Winner:</strong></p>
                <p class="info_data"><span class="current_winner" id="user-winner"><%= @auction_details.first.user.name if @auction_details.first %></span></p>
              </div>
              <p id="pBiddingWaitMsg" class="bidding_wait_msg"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="service_condition">
      <div class="return_condition"><a id="view_return"><label>Return Policy</label></a></div>
      <div class="shipping_condition"><a id="view_shipping"><label>Shipping</label></a></div>
      <div class="payment_condition"><a id="view_payment"><label>Payment</label></a></div>
      <div id="view_return_condition">We offer a 14 day return policy on all products so you can safely purchase clothes, shoes etc. with no concerns. Note: All products should be returned in the same condition as received. You will receive a full refund excluding the 10% service charge. We are also not responsible for the return shipping fees.
      </div>
      <div id="view_shipping_condition"><span>After your payment has been confirmed, you will receive your parcel within 2-3 business days. No matter how many items you have on your invoice, you will always only pay one delivery charge plus a 10% service charge to make sure your parcel is sent safe and fast.
        </span>
      </div>
      <div id="view_payment_condition"><span>We offer convenient and secure gateway to make online payments through credit/debit Visa or MasterCard.</span></div>
    </div>
    <div id="ContentPlaceHolder1_UpdatePanel3">
      <div id="view_history">
        <ul class="bidding_history">
          <li class="history_heading">
            <span class="bid_user">User</span>
            <span class="bid_amount">Amount</span>
            <span class="bid_time">Time</span>
          </li>
          <div id="bid-final">
            <%= render @auction_details %>
          </div>
        </ul>
      </div>
    </div>
    <div class="product_details">
      <a id="show_history">Hide history bidding</a>
      <ul class="product_details_tab">
        <li class="border-show-details"><a id="show_details" class="active">Product Details</a></li>
      </ul>
      <div id="view_details">
        <h3>Product Description</h3>
        <%= raw @product.detail %>
      <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="970" data-numposts="5"></div>
      </div>
    </div>
  </div>  
</div>  
<div class="right_col">
  <div style="padding-bottom:15px;">
  </div>
  <div class="auction-item" id="cat-timer">
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=2113993788848488&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
