<% provide(:title, @product.name)%>
<div class="row support-box show-for-large-up">
	<div class="large-12 columns">
		<div class="row" style="margin-left: 70px;">
			<div class="box doi-hang">
				<span class="icon"></span>
				<span class="text">Free 3 days of change</span>
			</div>
			<div class="box giao-hang">
				<span class="icon"></span>
				<span class="text">Free delivery within the city</span>
			</div>
			<div class="box thanh-toan">
				<span class="icon"></span>
				<span class="text">Payment on delivery</span>
			</div>
			<div class="box ho-tro">
				<span class="icon"></span>
				<span class="text">Common problems</span>
			</div>
		</div>
	</div>
</div>
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <% category = @product.category.parent_category || @product.category %>
      <li class="breadcrumb-item active" aria-current="page">
        <a href="/categories/<%= category.id %>">
          <%= category.name %>
        </a>
      </li>
      <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
    </ol>
  </nav>
  <div class= "left_col">
    <div id="product_id" class="extended_view single_product" data-timer-id=<%= params['id'] %>>
      <h2 class="product_title">
        <a id="ContentPlaceHolder1_lnkTitle"><span id="ContentPlaceHolder1_lbTitle"><%= @product.name %></span></a>
        <div class="percent-show">
          Sale
          <span>30%</span>
        </div>
      </h2>
      <div id="ContentPlaceHolder1_UpdatePanel2">
      </div>
      <div class="product_photo_wrp">
        <div class="product_photo">
          <div class="zoomWrapper" id = "first-image">
            <%= image_tag @product.assets.first.file.url, alt: @product.name, id: "expandImg", class: "slow-images", style: "max-width: 140%;border: 1px solid #ccc;" %>        
          </div>
          <div class="loading-image" style="display: none;"></div>
        </div>
        <ul class="product_gallery" id="js-gallery">
        <% @product.assets.each do |asset| %>
          <li class="product_thumb"><%= image_tag asset.file_url, onclick: "changeImg(this)", class: "slow-images" %></li>
        <% end %>
        </ul>
      </div>
      <div class="product_info">
        <div class="left-product">
          <p class="info_field ends_in_label">Finish in: </p>
          <p class="timeout last_minute" style="height: 20px; color: rgb(204, 51, 85);"><span id="spanEndAuction"></span><span id="spanCountDown" class="timeout last_minute" style="color: rgb(204, 51, 85);">LOADING</span></p>
        </div>
        <div id="ContentPlaceHolder1_UpdatePanel4">
          <div class="right-product">
            <p class="info_field current_bid_label">Price at: </p>
            <p class="info_data current_bid" id="product-price">LOADING</p>
          </div>
        </div>
        <div id="ContentPlaceHolder1_UpdatePanel1">
          <div class="right-product">
            <p class="info_field place_bid_label">Bid now:</p>
            <div class="info_data place_bid">
              <span class="bidding_box">
              <span class="bid_box">
              <span class="minus box_puls_minus">
              <input type="button" value="-" id="sub-price">
              </span>
              <span class="bid_text_number">
              <input value="" maxlength="10" class="input_placebid" id="price-input" readonly>
              </span>
              <span class="puls box_puls_minus">
              <input type="button" value="+" id="plus-price">
              </span>
              </span>
              </span> 
              <span class="bidding_button"><a id="ContentPlaceHolder1_btnBid" class="buttons bidding large"><span class="place_one">Bid now</span><span class="bidding_two">Bidding..</span></a></span>          
            </div>
            <div class="info-product-right">
              <p class="bidding_msg"></p>
              <div class="current-winner">
                <div class="right-winner-name">
                  <p class="info_field winner"><strong>Winner:</strong></p>
                  <p class="info_data"><span class="current_winner" id="user-winner"><%= @auction_details.first.user.name if @auction_details.first %></span></p>
                </div>
                <p id="pBiddingWaitMsg" class="bidding_wait_msg"></p>
              </div>
            </div>
            <div class="pro-info">
              <h2>Product information</h5>
              <ul>
                <li>
                  <label>Weight:</label>
                  <span><%= @product.weight || 'N/A' %></span>
                </li>
                <li>
                  <label>Color:</label>
                  <span><%= @product.color || 'N/A' %></span>
                </li>
                <li>
                  <label>Material:</label>
                  <span><%= @product.material || 'N/A' %></span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="service_condition">
        <div class="return_condition"><a id="view_return"><label>Return product</label></a></div>
        <div class="shipping_condition"><a id="view_shipping"><label>Shipment</label></a></div>
        <div class="payment_condition"><a id="view_payment"><label>Payment</label></a></div>
        <div id="view_return_condition">
          The 14-day return policy applies to all products, allowing you to peacefully buy electronic devices, clothes, shoes and more. Note: All products must be returned in original condition. When the refund conditions are met, you will receive a full refund excluding the 10% service charge. Buyers will be responsible for return shipping fees.
        </div>
        <div id="view_shipping_condition"><span id="ContentPlaceHolder1_lb343">You will receive a package within 1-3 business days after successful payment. For each invoice, regardless of the number of products included in the invoice, you only need to pay 1 time shipping fee and 10% service charge to ensure your shipment is sent quickly and safely. Service charges do not apply to fixed-price promotional products.
          </span>
        </div>
        <div id="view_payment_condition"><span id="ContentPlaceHolder1_lb344">We provide convenient and safe payment methods for online payments with Visa or Master cards</span></div>
      </div>
      <div id="ContentPlaceHolder1_UpdatePanel3">
        <div id="view_history">
          <ul class="bidding_history">
            <li class="history_heading">
              <span class="bid_user">Username</span>
              <span class="bid_amount">Price bid, ₫</span>
              <span class="bid_time">Auction time</span>
            </li>
            <div id="bid-final">
              <%= render @auction_details %>
            </div>
          </ul>
        </div>
      </div>
      <div class="product_details">
        <a id="show_history">Hide auction history</a>
        <ul class="product_details_tab">
          <li class="border-show-details"><a id="show_details" class="active">Product detail</a></li>
        </ul>
        <div id="view_details">
          <h3>Product description</h3>
          <%= raw @product.detail %>
        <div class="fb-comments" data-href="http://localhost:4000/auctions/<%= @auction.timer.id %>" data-width="930" data-numposts="5"></div>
        </div>
      </div>
    </div>  
  </div>  
  <div class="right_col">
    <div style="padding-bottom:15px;">
    </div>
    <div class="auction-item" id="cat-timer">
    </div>
  </div>
  <div id="fb-root"></div>
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.1&appId=2113993788848488&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
