<div class="header_image" style="background: url('https://fandy.vn/wp-content/uploads/2017/09/header-default-1.png') no-repeat left;height: 350px;background-size: 100%;"></div>
<div class="row" id="content">
  <div class="col-lg-12">
    <h2 class="title-page">
      My Auction
    </h2>
  </div>
  <div class="container">
    <div class="">
      <ul id="auction_tabs" class="tabs_content">
        <li><a  class="tablinks active" onclick="openTab(event, 'active_bids')"> Current Active Bids </a></li>
        <li><a  class="tablinks" onclick="openTab(event, 'auctions_won')"> Auctions Won </a></li>
        <li><a  class="tablinks" onclick="openTab(event, 'auctions_lost')"> Auctions Lost </a></li>
        <li><a  class="tablinks" onclick="openTab(event, 'view-order')"> Order</a></li>
      </ul>
      <table id="active_bids" class="auction_list shop_table shop_table_responsive cart">
        <thead>
          <tr class="auction_list_row heading">
            <td class="center">Status</td>
            <td class="center product_summary">Your current bid</td>
            <td class="center min_bid thb_cur">Current minimum bid</td>
            <td class="center num_bid">Bids</td>
            <td class="center ended">Time Bid</td>
          </tr>
        </thead>
        <tbody>
          <% if @active.any? %>
            <% @active.each do |active| %>
              <tr class="odd">
                <td class="center"><label><i class="fa fa-spinner fa-2x status-spinner"></i></label></td>
                <td class="product_summary center">
                  <%= active.timer.product.name %>
                  [<a id="" href=""><%= active.id %></a>]<br>
                  <% auction = active.auction_details.find_by(user_id: current_user.id) %>
                  <%= number_with_delimiter(auction.price_bid, :delimiter => ',') %> VND
                </td>
                <td class="min_bid thb_cur center"><%= number_with_delimiter(active.auction_details.order('price_bid DESC').first.price_bid, :delimiter => ',') %> VND</td>
                <td class="num_bid center"><%= active.auction_details.find_index(auction) + 1 %></td>
                <td class="ended center"><%= auction.updated_at.strftime("%A, %B %d, %Y, %H:%M:%S") %></td>
              </tr>
            <% end %> 
          <% end %>
         </tbody> 
      </table>
      <table id="auctions_won" class="auction_list shop_table shop_table_responsive cart">
        <thead>
          <tr class="auction_list_row heading">
            <td class="center">Status</td>
            <td class="center win_bid">Your winning bid</td>
            <td class="center max_bid">Your maximum bid</td>
            <td class="center num_bid">Bids</td>
            <td class="center ended">Completed</td>
          </tr>
        </thead>
        <tbody>
          <% @finished.each do |win| %>
            <% if win.auction_details.order('price_bid DESC').first.user_id == current_user.id %>
              <tr class="odd">
                <td class="center"><label><i class="fa fa-check fa-2x status-green"></i></label></td>
                <td class="center product_summary">
                  <%= win.timer.product.name %>
                  [<a href=""><%= win.id %></a>]<br>
                  <% auction = win.auction_details.find_by(user_id: current_user.id) %>                  
                  <%= number_with_delimiter(auction.price_bid, :delimiter => ',') %> VND                  
                </td>
                <td class="min_bid thb_cur center"><%= number_with_delimiter(win.auction_details.order('price_bid DESC').first.price_bid, :delimiter => ',') %> VND</td>
                <td class="center num_bid"><%= win.auction_details.find_index(auction) + 1 %></td>
                <td class="center ended"><%= win.auction_details.order('price_bid DESC').first.updated_at.strftime("%A, %B %d, %Y, %H:%M:%S") %></td>
              </tr>
            <% end %>  
          <% end %>
        </tbody>  
      </table>
      <table id="auctions_lost" class="auction_list shop_table shop_table_responsive cart">
        <thead> 
          <tr class="auction_list_row heading">
            <td class="center">Status</td>
            <td class="center max_bid">Your maximum bid</td>
            <td class="center win_user_bid">Highest Bidder</td>
            <td class="center num_bid">Bids</td>
            <td class="center ended">Completed</td>
          </li>
        </thead>
        <tbody>
          <% @finished.each do |lose| %>
            <% if lose.auction_details.order('price_bid DESC').first.user_id != current_user.id %>
              <tr class="auction_list_row odd">
                <td class="center"><label><i class="fa fa-times fa-2x status-red"></i></label></td>
                <td class="center product_summary">
                  <%= lose.timer.product.name %>
                  [<a href=""><%= lose.id %></a>]<br>
                  <% auction = lose.auction_details.find_by(user_id: current_user.id) %>
                  <%=  number_with_delimiter(auction.price_bid, :delimiter => ',') %> VND
                </td>
                <td class="center min_bid thb_cur"><%= number_with_delimiter(lose.auction_details.order('price_bid DESC').first.price_bid, :delimiter => ',') %> VND</td>
                <td class="center num_bid"><%= lose.auction_details.find_index(auction) + 1 %></td>
                <td class="center ended"><%= lose.auction_details.find_by(user_id: current_user.id).updated_at.strftime("%A, %B %d, %Y, %H:%M:%S") %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <table id="view-order" class="auction_list shop_table shop_table_responsive cart">
        <thead>
          <tr class="auction_list_row heading">
            <td class="center">SSID</td>
            <td class="center">Date</td>
            <td class="center">Order Status</td>
            <td class="center">Total Price</td>
          </tr>
        </thead>
        <tbody>
          <% @order.each do |order| %>
          <tr class="odd">
            <td class="center"><%= order.id %></td>
            <td class="center"><%= order.created_at.strftime("%A, %B %d, %Y, %H:%M:%S") %></td>
            <td class="center"><%= order.status %></td>
            <td class="center"><%= number_with_delimiter(order.total_price, :delimiter => ',') %> VND</td>
          </tr>  
          <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>
