<div id="content">
  <h1>My Auction</h1>
  <div class="container">
    <div class="">
      <ul id="auction_tabs" class="tabs_content">
        <li><a  class="tablinks" onclick="openTab(event, 'active_bids')"> Current Active Bids </a></li>
        <li><a  class="tablinks" onclick="openTab(event, 'auctions_won')"> Auctions Won </a></li>
        <li><a  class="tablinks" onclick="openTab(event, 'auctions_lost')"> Auctions Lost </a></li>
        <li><a  class="tablinks" onclick="openTab(event, 'view-order')"> Order</a></li>
      </ul>
      <table id="active_bids" class="auction_list table tbl-cart">
        <thead>
          <tr class="heading">
            <td class="center">Status</td>
            <td class="center product_summary">Your current bid</td>
            <td class="center min_bid thb_cur">Current minimum bid</td>
            <td class="center num_bid">Bids</td>
            <td class="center ended">Time Bid</td>
          </tr>
        </thead>
        <tbody>
          <% if @active.any? %>
            <% @active.each do |active| %>
              <tr class="odd">
                <td class="center"><label><i class="fa fa-spinner fa-2x status-spinner"></i></label></td>
                <td class="product_summary center"><%= active.timer.product.name %>
                                              [<a id="" href=""><%= active.id %></a>]<br>
                                              <%= active.auction_details.find_by(user_id: current_user.id).price_bid %>
                </td>
                <td class="min_bid thb_cur center"><%= active.auction_details.order('price_bid DESC').first.price_bid %></td>
                <td class="num_bid center">2</td>
                <td class="ended center"><%= active.auction_details.find_by(user_id: current_user.id).created_at %></td>
              </tr>
            <% end %> 
          <% end %>
         </tbody> 
      </table>
      <table id="auctions_won" class="auction_list table tbl-cart">
        <thead>
          <tr class="auction_list_row heading">
            <td class="center">Status</td>
            <td class="center win_bid">Your winning bid</td>
            <td class="center max_bid">Your maximum bid</td>
            <td class="center num_bid">Bids</td>
            <td class="center ended">Completed</td>
          </tr>
        </thead>
        <tbody>
          <% @finished.each do |win| %>
            <% if win.auction_details.order('price_bid DESC').first.user_id == current_user.id %>
              <tr class="odd">
                <td class="center"><label><i class="fa fa-check fa-2x status-green"></i></label></td>
                <td class="center product_summary"><%= win.timer.product.name %>
                                            [<a href=""><%= win.id %></a>]<br>
                                            <%= win.auction_details.order('price_bid DESC').first.price_bid %>
                </td>
                <td class="center max_bid thb_cur"><%= win.auction_details.order('price_bid DESC').first.price_bid %></td>
                <td class="center num_bid">28</td>
                <td class="center ended"><%= win.auction_details.order('price_bid DESC').first.created_at %></td>
              </tr>
            <% end %>  
          <% end %>
        </tbody>  
      </table>
      <table id="auctions_lost" class="auction_list table tbl-cart">
        <thead> 
          <tr class="auction_list_row heading">
            <td class="center">Status</td>
            <td class="center max_bid">Your maximum bid</td>
            <td class="center win_user_bid">Highest Bidder</td>
            <td class="center num_bid">Bids</td>
            <td class="center ended">Completed</td>
          </li>
        </thead>
        <tbody>
          <% @finished.each do |lose| %>
            <% if lose.auction_details.order('price_bid DESC').first.user_id != current_user.id %>
              <tr class="auction_list_row odd">
                <td class="center"><label><i class="fa fa-times fa-2x status-red"></i></label></td>
                <td class="center product_summary"><%= lose.timer.product.name %>
                                            [<a href=""><%= lose.id %></a>]<br>
                                            <%= lose.auction_details.find_by(user_id: current_user.id).price_bid %>
                </td>
                <td class="center min_bid thb_cur"><%= lose.auction_details.order('price_bid DESC').first.price_bid %></td>
                <td class="center num_bid">2</td>
                <td class="center ended"><%= lose.auction_details.find_by(user_id: current_user.id).created_at %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <table id="view-order" class="auction_list table tbl-cart">
        <thead>
          <tr class="auction_list_row heading">
            <th class="center">Order ID</th>
            <th class="center">Date</th>
            <th class="center">Order Status</th>
            <th class="center">Total Price</th>
            <th class="center">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @order.each do |order| %>
          <tr class="odd">
            <td class="center"><%= order.id %></td>
            <td class="center"><%= order.updated_at %></td>
            <td class="center"><%= order.status%></td>
            <td class="center"><%= order.total_price%></td>
            <td class='center'>
              <% if order.status == 'checkouted'%>
                <%= link_to 'Cancel', user_order_path(current_user, order), method: :post, class: 'button-item btn btn-default btn-margin' %>
              <% end %>  
            </td>
          </tr>  
          <% end %>
        </tbody>
      </table>  
    </div>
  </div>
</div>
