<tr class="odd gradeX">
  <td class="center"><%= order.id %></td>
  <td class="center"><%= link_to order.user.name , '#', class: 'detail-item' %></td>
  <td class="center"><%= order.address %></td>
  <td class="center"><%= order.phone %></td>
  <td class="center"><%= order.total_price %></td>
  <td class="center"> status</td>
  <td class="center">
    <%= link_to 'Delete', admin_order_path(order), method: :delete, class: 'button-item delete-item',
                          data: { confirm: "You sure?" } %>
    <%= link_to 'Detail', admin_order_path(order), class: 'button-item update-item' %> 
  </td>
</tr>