<tr class="odd gradeX">
  <td class="center"><%= check_box_tag 'ids[]', order.id, false, :class => 'table-row-checkbox' %></td>
  <td>
     <% if order.user.asset.present? %>
      <%= image_tag(user&.asset&.file_url, class: "avatar detail-item", alt: "Avatar", id: order.id ) %>
    <% else %>
      <img src="/avatar-default.png" alt="Avatar Default" class= "avatar detail-item" id= "<%= order.id %>"/>
    <% end %>
    <span class= 'detail-item' id= "<%= order.id %>"><%= order.name %></span>
  </td>
  <td class="center"><%= order.address %></td>
  <td class="center"><%= order.phone %></td>
  <td class="center"><%= order.total_price %></td>
  <td class="center"><%= order.status %></td>
  <td class="center"><%= order.payment.name %></td>
  <td class="center">
    <% if order.status == 'ordered' or order.status == 'delivering' %>
      <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_order_path(order), class: 'button-item update-item btn-margin' %>
    <% end %>
    <% if order.status == 'completed' %>
      <%= link_to raw('<i class="fa fa-edit"></i>'), admin_order_path(order), method: :delete, class: 'button-item delete-item',
                            data: { confirm: "You sure?" } %>
    <% end %>
    <%= link_to raw('<i class="fa fa-info-circle"></i>'), admin_order_path(order), class: 'button-item update-item' %> 
  </td>
</tr>
