<tr class="odd gradeX">
  <td>
     <% if order.user.asset.present? %>
      <%= image_tag(order.user&.asset&.file_url, class: "avatar detail-item", alt: "Avatar", id: order.id ) %>
    <% else %>
      <img src="/avatar-default.png" alt="Avatar Default" class= "avatar detail-item" id= "<%= order.id %>"/>
    <% end %>
    <span class= 'detail-item' id= "<%= order.id %>"><%= order.name %></span>
  </td>
  <td class="center"><%= order.address %></td>
  <td class="center"><%= order.phone %></td>
  <td class="center"><%= number_with_delimiter(order.total_price, :delimiter => ',') %> VND</td>
  <td class="center"><%= order.status.upcase %></td>
  <td class="center"><%= order.created_at.strftime("%A, %B %d, %Y") %></td>
  <td class="center"><%= order.payment.name %></td>
  <td class="center">
    <% if order.status == 'ordered' or order.status == 'delivering' %>
      <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_order_path(order), class: 'button-item update-item btn-margin' %>
    <% end %>
  </td>
</tr>
