<tr class="odd gradeX">
  <td class="center"><%= check_box_tag 'ids[]', order.id, false, :class => 'table-row-checkbox' %></td>
  <td class="center"><%= link_to order.name , '#', class: 'detail-item' %></td>
  <td class="center"><%= order.address %></td>
  <td class="center"><%= order.phone %></td>
  <td class="center"><%= order.total_price %></td>
  <td class="center"><%= order.status %></td>
  <td class="center"><%= order.type_payment %></td>
  <td class="center">
    <% if order.status == 'checkouted' or order.status == 'delivered' or order.status == 'cancel' %>
      <%= link_to 'Update', edit_admin_order_path(order), class: 'button-item update-item btn-margin' %>
    <% end %>
    <% if order.status == 'received' %>
      <%= link_to 'Delete', admin_order_path(order), method: :delete, class: 'button-item delete-item',
                            data: { confirm: "You sure?" } %>
    <% end %>
    <%= link_to 'Detail', admin_order_path(order), class: 'button-item detail-items' %> 
  </td>
</tr>
