<% provide(:manage, 'Manage Order') %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>Update Order</p>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
            <%= form_for(@order, url: admin_order_path) do |f| %>
              <%= form_group_for 'col-lg-12', f, :name, label: false  do %>
                <div class="form-group">
                  <%= f.label :name %>
                  <%= f.text_field :name, placeholder: @order.name, readonly: :true, class: 'form-control' %>
                </div>
              <% end %>
              <%= form_group_for 'col-lg-12', f, :address, label: false  do %>
                <div class="form-group">
                  <%= f.label :address %>
                  <%= f.text_field :address, placeholder: @order.address, readonly: :true, class: 'form-control' %>
                </div>
              <% end %>
              <%= form_group_for 'col-lg-12', f, :phone, label: false  do %>
                <div class="form-group">
                  <%= f.label :phone %>
                  <%= f.text_field :phone, placeholder: @order.phone, readonly: :true, class: 'form-control' %>
                </div>
              <% end %>
              <%= form_group_for 'col-lg-12', f, :status, label: false  do %>
                <div class="form-group">
                  <%= f.label(:status, 'Status of order:' ) %>
                  <%= f.select(:status, options_for_select(@list_status, selected: @order.status.upcase), {}, { class: 'form-control col-3' }) %>
                </div>
              <% end %>
              <%= form_group_for 'col-lg-12', f, :payment_id, label: false  do %>
                <div class="form-group">
                  <%= f.label(:payment_id, 'Payment:')%>
                  <%= f.text_field :payment_id, placeholder: @order.payment.name, readonly: :true, class: 'form-control', value: @order.payment.name %>
                </div>
              <% end %>
              <%= f.submit "Submit", class: 'btn btn-success' %>
              <%= f.submit "Reset", class: 'btn btn-warning', type: 'reset' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
