<!DOCTYPE html>
<html>
  <head>
    <title>Autions Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'admin/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <% javascript_include_tag "admin/product.js" %>

     <div id="wrapper">
        <%= render 'layouts/admin/nav' %>
        <div id="page-wrapper">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="page-header"><%= yield(:manage) %></h1>
              </div>
            </div>
            <% flash.each do |message_type, message| %>
              <div class="alert alert-success"><%= message %></div>
            <% end %>
            <%= yield %>
        </div>
    </div>
  </body>
</html>
