<% provide(:title, "Edit user") %>
<div class="row">
  <nav aria-label="breadcrumb" style="margin-top: 20px;">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">My account</li>
    </ol>
  </nav>
  <div class="col-lg-12">
    <h2 class="title-page" style="margin-bottom: 30px;">
      My profile    
    </h2>
  </div>
  <div class="col-md-3 ">
    <div class="list-group ">
      <div>
        <% image_url = current_user&.asset&.file_url %>
        <%  if image_url %>
          <%= image_tag(image_url, class: "avatar-user", id: "profile-img-tag") %>
        <% else %>
          <img src="/avatar-default.png" id="profile-img-tag" class="avatar-user" />
        <% end %>
        <!--<input id="profile-img" type="file" style="margin-left: 50px;" />-->
      </div>
      <%= link_to "My Profile", edit_user_path(current_user), class: "list-group-item list-group-item-action active" %>
      <%= link_to "Change Password", edit_password_path(current_user), class: "list-group-item list-group-item-action" %>
      <%= link_to "My Orders", my_orders_path(current_user), class: "list-group-item list-group-item-action" %>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <h4>Information</h4>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-12" style="margin-bottom: 30px;">
              <%= form_for(@user) do |f| %>
                <%= render 'shared/error_messages' %>
                <%= f.label :name %>
                <%= f.text_field :name, class: 'form-control' %>
                <%= f.label :email %>
                <%= f.email_field :email, class: 'form-control' %>
                <%= f.label :address %>
                <%= f.text_field :address, class: 'form-control' %>
                <%= f.label :phone %>
                <%= f.text_field :phone, class: 'form-control' %>
                <%= f.label :gender %>
                <%= f.select(:gender, options_for_select(@genders.collect { |g| [g.first.camelize, g.first] }, selected: @user.gender), {}, { class: 'form-control' } ) %>
                <%= f.label :birth_day %>
                <%= f.date_field :birth_day, class: 'form-control', value: @date_birth_day %>
                <%= f.label :avatar %>
                <%= f.file_field :file, id: "profile-img" %>
                <% image_url = f.object&.asset&.file_url %>
                <%  if image_url %>
                  <%= image_tag(image_url, class: "img-user", id: "profile-img-tag") %>
                <% else %>
                  <img src="/avatar-default.png" id="profile-img-tag" class="img-user" />
                <% end %> 
                <div class= "text-center">
                  <%= f.submit "Save changes", class: "btn btn-primary" %>
                </div>  
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $("#profile-img").click(function(){
    console.log(event.target.result);
    // $.ajax({
    //   url: '/users/uploads'
    //   type: "POST",
    //   contentType: 'application/json; charset=utf-8',
    //   dataType: 'JSON',
    //   async: true,
    //   success: function (response) {
    //   },
    //   error: function (err) {
    //     console.log(err);
    //   }
    // });
  });
});
</script>
