<% provide(:title, 'Cart') %>
<div class="header_image" style="background: url('https://fandy.vn/wp-content/uploads/2017/09/header-default-1.png') no-repeat left;height: 350px;background-size: 100%;"></div>
<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Orders</li>
    </ol>
  </nav>
  <h1 class="page-title">Payment</h1>
  <div class="woocommerce">
    <%= form_for(@order, url: user_order_path, name: "checkout", class: "checkout woocommerce-checkout", enctype: "multipart/form-data", autocomplete: "false") do |f| %>
      <div class="cart-box-check-out">
        <h3 id="order_review_heading">Your cart (<%= @items.size %>)</h3>
        <div id="order_review" class="woocommerce-checkout-review-order">
          <div class="woocommerce-checkout-review-order-box">
            <div class="product-scroll">
              <% @items.each do |item| %>
                <div class="cart_item">
                  <div class="product-avatar">
                    <%= image_tag(item.product.assets.first.file_url ,alt: "", class: "attachment-woocommerce_thumbnail size-woocommerce_thumbnail", width: "250", height: "225") %>
                  </div>
                  <div class="product-info">
                    <div class="product-name">
                      <%= item.product.name %>&nbsp;							
                    </div>
                    <div class="variation">
                      <div class="variation-item">
                        <div class="variation-Size variation-label">Size:</div>
                        <div class="variation-Size variation-value">
                          <p><%= item.product.size %></p>
                        </div>
                      </div>
                      <div class="variation-item">
                        <div class="variation-Musc variation-label">Color:</div>
                        <div class="variation-Musc variation-value">
                          <p><%= item.product.color %></p>
                        </div>
                      </div>
                    </div>
                    <div class="product-total">
                      <span class="woocommerce-Price-amount amount">
                        <% discount = item.product&.promotions_categories&.discount.to_i %>
                        <%= number_with_delimiter(item.amount * (100 - discount) / 100, :delimiter => ',') %>
                        &nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span>							
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="cart-total">
              <div class="total-box">
                <div class="order-total">
                  <label>Total money: </label>
                  <span><strong><span class="woocommerce-Price-amount amount">
                  <%= number_with_delimiter(@total, :delimiter => ',') %>&nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span></strong> </span>
                </div>
              </div>
              <a href="/" class="return-shop"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i> Continue to participate in the auction </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col2-set" id="customer_details">
        <div class="col-1">
          <div class="woocommerce-billing-fields">
            <h3>Purchase information</h3>
            <div class="fd-form-checkout">
              <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
                <label for="billing_last_name" class="">Tên&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label>
                <span class="woocommerce-input-wrapper">
                  <%= f.text_field :name, placeholder: "Full name", class: 'input-text', id: "billing_last_name", value: "", autocomplete: "family-name"%>
                </span>
              </p>
              <p class="form-row form-row-last validate-required validate-email" id="billing_email_field" data-priority="30">
                <label for="billing_email" class="">Địa chỉ email&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label>
                <span class="woocommerce-input-wrapper">
                  <%= f.text_field :email, placeholder: "Email address", class: 'input-text', id: "billing_email", value: "", autocomplete: "family-name"%>
                </span>
              </p>
              <p class="form-row form-row-first validate-required validate-phone" id="billing_phone_field" data-priority="50">
                <label for="billing_phone" class="">Số điện thoại&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label>
                <span class="woocommerce-input-wrapper">
                  <%= f.text_field :phone, placeholder: "Phone number", class: 'input-text', id: "billing_phone", value: "", autocomplete: "family-name"%>
                </span>
              </p>
              <p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="70">
                <label for="billing_address_1" class="">Địa chỉ&nbsp;<abbr class="required" title="bắt buộc">*</abbr></label>
                <span class="woocommerce-input-wrapper">
                  <%= f.text_field :address, placeholder: "Number hour or address name", class: 'input-text', id: "billing_address_1", value: "", autocomplete: "family-name"%>
                </span>
              </p>
              <p class="form-row form-row-wide address-field validate-state" id="billing_state_field" data-priority="100">
                <span class="woocommerce-input-wrapper">
                  <select name="payment_id" id="billing_state" class="state_select " autocomplete="address-level1" data-placeholder="">
                    <option value="">Choose a form of payment</option>
                    <%= @payments.each do |payment| %>
                      <option value="<%= payment.id %>"><%= payment.name %></option>
                    <% end %>
                    </select>
                </span>
              </p>
              <div class="call-now">
                ✓ Call: <a href="tel:0972854570">0972 854570</a> → For quick purchase
              </div>
              <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id='paypal_submit' value="Complete the purchase" data-value="Order">
              <div class="checkout-error"></div>
            </div>
          </div>
        </div>
        <div class="col-2">
        </div>
      </div>
    <% end %>
    <div class="order-receive-popup"></div>
  </div>
</div>
<script src="https://www.paypalobjects.com/js/external/dg.js"></script>
<script>
$(document).ready(function(){
  $(function(){
    var sandbox = true;
    var submit_id = 'paypal_submit';
    flow_config = {trigger: submit_id};
    if (sandbox) flow_config.stage = sandbox;
    window.paypal_flows = [];
    window.paypal_flows.push(new PAYPAL.apps.DGFlow(flow_config));

    $("#payment_customer_type_collection").click(function(){
      $(".customer").show();
    })
    $("#payment_customer_type_user").click(function(){
      $(".customer").hide();
    })
  });
});
</script>
