<div id="checkout" class="">
  <div id="content" style="min-height: 635px;">
    <div>
      <div id="heading">
        <div class="wrapper">
          <h1 style="font-size: 40px;">
            Checkout
          </h1>
        </div>
      </div>
      <div class="left-payment">
        <div id="" class="">
          <div>
            <div>
              <h2 style="font-size: 30px; text-align:left; padding-left: 220px">
                Adress Delivery
              </h2>
              <div class="form-address">
                <%= form_for(@order, url: user_order_path) do |f| %>
                  <%= form_group_for f, :name, label: false  do %>
                    <div class="form-group">
                     <%= f.label :name ,class: "control-label"%>
                     <div class="inputGroupContainer">
                      <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <%= f.text_field :name, placeholder: @order.user.name, class: 'form-control', id: 'field-name' %>
                      </div>  
                     </div>
                    </div>
                  <% end %>
                  <%= form_group_for f, :address, label: false  do %>
                    <div class="form-group">
                      <%= f.label :address, class: "control-label" %>
                      <div class="inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>    
                          <%= f.text_field :address, placeholder: 'address', class: 'form-control', id: 'field-address' %>
                        </div>  
                      </div>  
                    </div>
                  <% end %>
                  <%= form_group_for f, :phone, label: false  do %>
                    <div class="form-group">
                      <%= f.label :phone, class: "control-label" %>
                      <div class="inputGroupContainer">
                        <div class="input-group"><span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                          <%= f.text_field :phone, placeholder: 'phone', class: 'form-control', id: 'field-phone' %>
                        </div>
                      </div>    
                    </div>
                  <% end %>
                  <div class="payment_info active">
                    <div>
                      <div style="width: 650px;" class="payment_options_head">
                      </div>
                      <div id="ContentPlaceHolder1_dvPaymentOptions_inner">
                        <div class="payment_options_main">
                          <h2 style="text-align: left;padding-left: calc(50% - 220px)">
                            How would you like to pay?
                          </h2>
                          <%= form_group_for f, :type_payment, label: false  do %>
                            <ul class="payment_option_list carts-det form-group">
                              <li class="payment_option_item" id="hover-cash-on-delivery">
                                <div class="payment_option_list_inner">
                                  <%= f.radio_button :type_payment, "Cash on delivery"%>
                                  <span class="method_option_title">Cash on Delivery</span>
                                  <div class="method_option_images">
                                    <%= image_tag('delivery-car.png', alt: "")%>
                                  </div>
                                </div>
                              </li>
                              <li class="payment_option_item" id="hover-ngan-luong">
                                <div class="payment_option_list_inner">
                                  <%= f.radio_button :type_payment, "Ngan Luong"%>
                                  <span class="method_option_title">ATM/Bank Transfer</span>
                                  <div class="method_option_images">
                                    <a target="_blank" href="https://www.nganluong.vn/button_payment.php?receiver=thanphong936@gmail.com&product_name=<%= @order.id %>&price=<%= @order.total_price + 29000 %>&return_url=(URL thanh toán thành công)&comments=(Ghi chú về đơn hàng)"><img src="https://www.nganluong.vn/css/newhome/img/button/safe-pay-3.png"border="0" /></a>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          <% end %> 
                        </div>
                        <div class="payment_options_details">
                          <div class="payment_info active">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="payment_options_validate">
                      <span id="ContentPlaceHolder1_lbPaymentInfoValidate" style="color:Red;"></span>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="checkout_progress">
                    <button type="button" class="buttons checkout large bg-btn-icon" data-toggle="modal" data-target="#myModal">
                    Checkout
                    </button>
                  </div>  
                  <div class="modal" id="myModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title text-center">Comfirm</h4>  
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            Are you sure?<br>
                            <p><label>Name: <span id="Name"></span></label></p>
                            <p><label>Address:  <span id="Address"></label></span></p>
                            <p><label>Contact Number:  <span id="Phone"></span></label></p>
                        </div>
                        <div class="modal-footer">
                          <div class="checkout_progress">
                            <%= f.submit "Submit", data: { confirm:('Are you really sure you want to use ' +
                              + '?')} , class: 'buttons checkout large bg-btn-icon'%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div id="ContentPlaceHolder1_UpdateProgress2" style="display:none;" role="status" aria-hidden="true">
          <div class="divWaiting">
            <span id="ContentPlaceHolder1_lblWait1"> Please wait... </span>
            <img id="ContentPlaceHolder1_imgWait1" src="" align="middle">
          </div>
        </div>
        <div id="ContentPlaceHolder1_UpdatePanel2">
        </div>
      </div>
      <div class="right-payment">
        <div id="help_center" class="gotquestions">
          <h2>Having issues putting in the address?</h2>
          <p>Give us a call and we will put it in for you!</p>
          <p class="customer_support_tel">Tel. 02836222111</p>
        </div>
        <div id="ContentPlaceHolder1_UpdatePanel4">
          <div id="ContentPlaceHolder1_pnlRightOrderInfo">
            <div id="order_info">
              <h3>
                Order Summary
              </h3>
              <ul class="purchase_items">
                <li>
                  <span class="order_item_label">
                  Total</span>
                  <span class="order_item_price">
                  <%= @order.total_price %></span>
                </li>
                <li>
                  <span class="order_item_label">
                  Standard Delivery - Delivery to your door step.
                  </span>
                  <span class="order_item_price">
                  29.000
                  </span>
                </li>
                <li>
                  <span class="order_item_label total_payment">
                  Net price to be paid</span>
                  <span class="order_item_price total_payment">
                  <%= @order.total_price + 29000 %>
                  </span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="got_question visible-xs" id="popupright">
    <div class="popup_btn">
      <a id="popup_button">
      CÓ CÂU HỎI?</a> <a id="popup_close"></a>
    </div>
    <div class="popup_box_content">
      <div id="help_center_mobile">
        <h2>Có câu hỏi?</h2>
        <p>Vui lòng liên hệ bộ phận hỗ trợ 24 giờ của chúng tôi.</p>
        <p class="customer_support_tel">Sdt. 02836222111</p>
      </div>
    </div>
  </div>
</div>
