<tr class="odd gradeX">
  <td class="center"><%= check_box_tag 'ids[]', auction.id, false, :class => 'table-row-checkbox' %></td>
  <td class="">
    <%= image_tag image_first_of_object(auction.timer.product), class: 'avatar detail-item', id: auction.id %>
    <span class= 'detail-item' id= "<%= auction.id %>"><%= auction.timer.product.name %></span>
  </td>
  <% auction_detail = auction.auction_details.first %>
  <td class="center"><%= auction.created_at.strftime("%m/%d/%y, %I:%M:%p") %></td>
  <td class="center"><%= auction_detail.user.name if auction_detail %></td>
  <td class="center">
    <%= number_with_delimiter(auction_detail.price_bid, :delimiter => ',') + ' VND' if auction_detail %>
  </td>
  <td class="center">
    <%= number_with_delimiter(auction_detail.price_bid - auction.timer.product.price, :delimiter => ',') + ' VND' if auction_detail %></td>
  <td class="center">
    <% if auction.status == Common::Const::AuctionStatus::RUNNING %>
      <img src="/play.png" alt="running" class= "avatar-action" />
    <% else %>
      <img src="/stop.png" alt="running" class= "avatar-action" />      
    <% end %>
  </td>
  <td class="center auction-action">
    <!--<%= link_to raw('<i class="fa fa-info-circle"></i>'), admin_auction_path(auction), class: 'button-item update-item btn-margin' %>-->
    <%= link_to raw('<i class="fa fa-trash"></i>'), admin_auction_path(auction), method: :delete, class: 'button-item delete-item auction-delete',
                          data: { confirm: "You sure?" } %>

  </td>
</tr>
