<tr class="odd gradeX">
  <td class="center-td"><%= promotion.name %></td>
  <td class="center-td">
    <% if promotion.asset %>
      <%= image_tag(promotion&.asset&.file_url, class: 'img-product', id: promotion.id ) %>      
    <% else %>
      <img src="/product-default.png" alt="Avatar Default" class= "img-product" id= "<%= promotion.id %>"/>
    <% end %>
  </td>
  <td class="center-td date-tab"><%= promotion.start_date.strftime("%A, %B %d, %Y") %></td>  
  <td class="center-td date-tab"><%= promotion.end_date.strftime("%A, %B %d, %Y") %></td>
  <td class="center-td"><%= promotion.description %></td>
  <td class="center-td cat-tab">
    <%= promotion.categories.pluck(:name).join(', ') %>
  </td>
  <td class="center action-product">
    <%= link_to raw('<i class="fa fa-clock-o"></i>'), admin_promotion_promotions_categories_path(promotion), class: 'button-item update-item' %> 
    <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_promotion_path(promotion), class: 'button-item update-item' %> 
    <%= link_to raw('<i class="fa fa-trash"></i>'), admin_promotion_path(promotion), method: :delete, class: 'button-item delete-item',
                        data: { confirm: "You sure ?" } %>
  </td>
</tr>
