<%= form_group_for f, :time_validation, label: false  do %>
<% end %>
<%= form_group_for f, :start_at, label: false  do %>
  <div class="form-group">
    <%= f.label :start_at %>
    <br>
    <%= f.time_select :start_at, {include_seconds: true, default: {hour: '00', minute: '00', second: '00'}}, { class: 'form-control-static' } %>
  </div>
<% end %>
<%= form_group_for f, :end_at, label: false  do %>
  <div class="form-group">
    <%= f.label :end_at %>
    <br>    
    <%= f.time_select :end_at, {include_seconds: true, default: {hour: '00', minute: '00', second: '00'}}, { class: 'form-control-static' } %>
  </div>
<% end %>
<%= form_group_for f, :period, label: false  do %>
  <div class="form-group">
    <%= f.label :period %>
    <br>    
    <%= f.time_select :period, { include_seconds: true, default: {hour: '00', minute: '00', second: '00'}}, { class: 'form-control-static' } %>
  </div>
<% end %>
<%= form_group_for f, :bid_step, label: false  do %>
  <div class="form-group">
    <%= f.label :bid_step %>
    <%= f.number_field :bid_step, class: 'form-control' %>
  </div>
<% end %>
<div class="form-group">
  <%= f.label :status %>
  <br>
  <%= f.radio_button :status, 'on', checked: true %> 
  <%= label :status_email, 'ON' %>
  <%= f.radio_button :status, 'off' %>
  <%= label :status_sms, 'OFF' %>
</div>
<%= f.submit "Submit", class: 'btn btn-success' %>
<%= f.submit "Reset", class: 'btn btn-warning', type: 'reset' %>