<tr class="odd gradeX">
  <td class="center"><%= check_box_tag 'ids[]', timer.id, false, :class => 'table-row-checkbox' %></td>
  <td class="center"><%= timer.start_at.strftime('%H:%M:%S') %></td>
  <td class="center"><%= timer.end_at.strftime('%H:%M:%S') %></td>
  <td class="center"><%= timer.period.strftime('%H:%M:%S') %></td>
  <td class="center"><%= timer.bid_step %></td>
  <td class="center timer-status">
  <% if timer.is_running %>
    <img src="/play.png" alt="running" class= "avatar-action" />
  <% else %>
    <img src="/ban.png" alt="running" class= "avatar-action" />
  <% end %>
  </td>
  <td class="center timer-action">
    <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_product_timer_path(@product, timer), class: 'button-item update-item' %> 
    <%= link_to raw('<i class="fa fa-trash"></i>'), admin_product_timer_path(@product, timer), method: :delete, class: 'button-item delete-item',
                        data: { confirm: "You sure?" } %>
  </td>
</tr>
