<tr class="odd gradeX">
  <td class="center"><%= timer.id %></td>
  <td class="center"><%= timer.start_at %></td>
  <td class="center"><%= timer.end_at %></td>
  <td class="center"><%= timer.period %></td>
  <td class="center"><%= timer.bid_step %></td>
  <td class="center"><%= timer.status %></td>
  <td class="center">
    <%= link_to 'Update', edit_admin_product_timer_path(@product, timer), class: 'button-item update-item' %> 
    <%= link_to 'Delete', admin_product_timer_path(@product, timer), method: :delete, class: 'button-item delete-item',
                        data: { confirm: "You sure?" } %>
  </td>
</tr>
