<tr class="cart_item">
  <td class="product-remove">
    <%= link_to 'x', user_order_path(current_user, item), class: "remove", title: "Delete", method: :delete, data: { confirm: "You sure?" } %>
  </td>
  <td class="product-thumbnail">
    <%= image_tag(item.product.assets.first.file_url ,alt: "", class: "img-pro-cat") %>
  </td>
  <td class="product-name" data-title="Product">
    <p><%= item.product.name %></p>
    <div class="variation">
      <div class="variation-item">
        <div class="variation-Musc variation-label">Color:</div>
        <div class="variation-Musc variation-value">
          <p><%= item.product.color %></p>
        </div>
        <div class="variation-Musc variation-label">Size:</div>
        <div class="variation-Musc variation-value">
          <p><%= item.product.size %></p>
        </div>
      </div>
    </div>
  </td>
  <td class="product-price">
    <span class="woocommerce-Price-amount amount">
      <%= number_with_delimiter(item.amount, :delimiter => ',') %>
      &nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span>
    </span>					
  </td>
  <td class="product-quantity center">
    <div class="quantity">
      <span class="text">Sale:</span>
      <span class="woocommerce-Price-amount amount">
        <% discount = item.product&.promotions_categories&.discount.to_i %>
        <%= discount %>%
      </span>
    </div>
  </td>
  <td class="product-subtotal">
    <span class="woocommerce-Price-amount amount">
      <%= number_with_delimiter(item.amount * (100 - discount) / 100, :delimiter => ',') %>
      &nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span>
    </span>					
  </td>
</tr>
