<tr class="odd gradeX">
  <td class="name-cat">
    <% if category.asset.present? %>
      <%= image_tag(category&.asset&.file_url, class: "avatar detail-item", alt: "Avatar", id: category.id) %>
    <% else %>
      <img src="/product-default.png" alt="Avatar Default" class= "avatar detail-item" id= "<%= category.id %>"/>
    <% end %>
    <span class= 'detail-item' id= "<%= category.id %>"><%= category.name %></span>
  </td>
  <td class="center description-cat">
    <% if category.description.present? %>
      <%= category.description %>
    <% else %>
      Empty
    <% end %>
  </td>
  <td class="action-cat">
    <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_category_path(category), class: 'button-item update-item' %>
    <%= link_to raw('<i class="fa fa-trash"></i>'), admin_category_path(category), method: :delete, data: { confirm: "You sure ?" }, class: 'button-item delete-item' %>
  </td>
</tr>
<% if category.child_categories.any? %>
  <% category.child_categories.each do |cat| %>
    <tr class="odd gradeX">
      <td class="center name-cat">
        <% if cat.asset %>
          <%= image_tag(cat&.asset&.file_url, class: "avatar detail-item", alt: "Avatar", id: cat.id) %>
        <% else %>
          <img src="/product-default.png" alt="Avatar Default" class= "avatar detail-item" id= "<%= cat.id %>"/>
        <% end %>
        <span class= 'detail-item' id= "<%= cat.id %>"><%= cat.name %></span>
      </td>
      <td class="center description-cat">
        <% if cat.description.present? %>
          <%= cat.description %>
        <% else %>
          Empty
        <% end %>
      </td>
      
      <td class="action-cat">
        <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_category_path(cat), class: 'button-item update-item' %>
        <%= link_to raw('<i class="fa fa-trash"></i>'), admin_category_path(cat), method: :delete, data: { confirm: "You sure ?" }, class: 'button-item delete-item' %>
      </td>
    </tr>
  <% end %>
<% end %>