<div class='image-item'>
  <%= form_group_for "col-lg-12", f, :file, label: false  do %>
    <div class="form-group">
      <%= f.label :Image %>
      <%= f.file_field :file, id: "profile-img" %>
      <% if f.object.file_url.present? %>
        <%= image_tag(f.object.file_url, class: "img-resize", id: "profile-img-tag") %>
      <% else %>
        <img src="/product-default.png" id="profile-img-tag" class="img-resize" />
      <% end %>
    </div>
  <% end %>
  <%= f.hidden_field :_destroy, value: 'false' %>
  <%= link_to "Remove Image", '#', onClick: "removeField(this); return false;", class: "btn btn-danger remove" %>
</div>
