<%= form_group_for f, :name, label: false  do %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :name, label: false  do %>
  <div class="form-group">
    <%= f.label(:category_id, 'Category:')%>
    <%= f.select(:category_id, options_for_select(@categories.collect{ |u| [u.name, u.id] }, selected: @product.category_id), { prompt: 'Choose category' }, { class: 'form-control' } ) %>
  </div>
<% end %>
<%= form_group_for f, :detail, label: false  do %>
  <div class="form-group">
    <%= f.label :detail %>
    <%= f.text_area :detail, :size => "50x10", placeholder: 'Detail', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :price, label: false  do %>
  <div class="form-group">
    <%= f.label :price %>
    <%= f.text_field :price, placeholder: 'Price', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :quantity, label: false  do %>
  <div class="form-group">
    <%= f.label :quantity %>
    <%= f.text_field :quantity, placeholder: 'Quantity', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :price_at, label: false  do %>
  <div class="form-group">
    <%= f.label :price_at %>
    <%= f.text_field :price_at, placeholder: 'Price start at', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :assets, label: false  do %>
<% end %>
<div class="image-list">
  <%= f.fields_for :assets do |asset| %>
    <%= render "asset_fields", f: asset %>
  <% end %>
</div>
<%= link_to_add_fields("Add picture", f, :assets) %>
<%= f.submit "Submit", class: 'btn btn-success' %>
<%= f.submit "Reset", class: 'btn btn-warning', type: 'reset' %>