<tr class="odd gradeX">
  <td class="center"><%= check_box_tag 'ids[]', product.id, false, :class => 'table-row-checkbox' %></td>
  <td class="center-td">
    <span class= 'detail-item' id= "<%= product.id %>"><%= product.name %></span>
  </td>
  <td class="center-td"><%= parent_name(product.category_id) %></td>
  <td class="center-td"><%= image_tag image_first_of_object(product), class: 'img-product' %></td>
  <td class="center-td"><%= product.price %></td>
  <td class="center-td"><%= product.quantity %></td>
  <td class="center-td"><%= product.price_at %></td>
  <td class="center action-product">
    <%= link_to raw('<i class="fa fa-clock-o"></i>'), admin_product_timers_path(product), class: 'button-item  update-item' %> 
    <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_product_path(product), class: 'button-item update-item' %> 
    <%= link_to raw('<i class="fa fa-trash"></i>'), admin_product_path(product), method: :delete, class: 'button-item delete-item',
                        data: { confirm: "You sure ?" } %>
  </td>
</tr>
