<% provide(:manage, 'Manage products') %>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <p>Detail Product</p>
      </div>
      <div class="panel-body">
        <p>Name: <%= @product.name %></p>
        <p>Category: <%= parent_name(@product.category_id) %></p>
        <p>Detail: <%= @product.detail %></p>
        <p>Price: <%= @product.price %></p>
        <p>Quantity: <%= @product.quantity %></p>
        <p>Status: <%= @product.status %></p>
        <p>Price start: <%= @product.price_at %></p>
        <p>Picture:</p>
        <%= render @product.assets %>
      </div>
    </div>
  </div>
</div>
