<%= form_group_for f, :name, label: false  do %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :email, label: false  do %>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :address, label: false  do %>
  <div class="form-group">
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: 'Address', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :phone, label: false  do %>
  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, placeholder: 'Phone', class: 'form-control' %>
  </div>
<% end %>
<%= form_group_for f, :birth_day, label: false  do %>
  <div class="form-group">
    <%= f.label :birth_day %>
    <%= f.date_field :birth_day, class: 'form-control', value: @date_birth_day %>
  </div>
<% end %>
<%= form_group_for f, :gender, label: false  do %>
  <div class="form-group">
    <%= f.label :gender %>
    <%= f.select(:gender, options_for_select(@genders.collect { |g| [g.first.camelize, g.first] }, selected: @user.gender), {}, { class: 'form-control' } ) %>
  </div>
<% end %>
<%= form_group_for f, :role, label: false  do %>
  <div class="form-group">
    <%= f.label :role %>
    <%= f.select(:role, options_for_select(['admin', 'user'], selected: @user.role), { prompt: 'Choose role' }, { class: 'form-control' } ) %>
  </div>
<% end %>
<%= f.submit "Submit", class: 'btn btn-success' %>
<%= f.submit "Reset", class: 'btn btn-warning', type: 'reset' %>