<tr class="odd gradeX">
  <td class="center"><%= user.id %></td>
  <td class="">
    <% if user.asset.present? %>
      <%= image_tag(user&.asset&.file_url, class: "avatar detail-item", alt: "Avatar", id: user.id ) %>
    <% else %>
      <img src="/avatar-default.png" alt="Avatar Default" class= "avatar detail-item" id= "<%= user.id %>"/>
    <% end %>
    <span class= 'detail-item' id= "<%= user.id %>"><%= user.name %></span>
  </td>
  <td class=""><%= user.email %></td>
  <td class="center"><%= user.role.camelize %></td>
  <td class="center"><%= user.address %></td>
  <td class="center"><%= user.phone %></td>
  <td class="center"><%= user.gender.camelize %></td>
  <td class="center action-user">
    <%= link_to raw('<i class="fa fa-edit"></i>'), edit_admin_user_path(user), class: 'button-item update-item btn-margin' %> 
    <% if admin_user? && !current_user?(user) %>
      <%= link_to raw('<i class="fa fa-trash"></i>'), admin_user_path(user), method: :delete, class: 'button-item delete-item',
                          data: { confirm: "You sure?" } %>
    <% end %>
    <% if admin_user? && !current_user?(user) %>
      <% if user.deactivated_at.blank? %>
        <!--<%= link_to raw(''), block_admin_user_path(user), method: :get, class: 'button-item block-item',
                            data: { confirm: "You sure?" } %> -->
        <i class="fa fa-unlock-alt block-item" id="block-<%= user.id %>" name="<%= user.name %>" action="block"></i>
      <% else %>
        <!--<%= link_to raw('<i class="fa fa-lock"></i>'), block_admin_user_path(user), method: :get, class: 'button-item block-item',
                            data: { confirm: "You sure?" } %> -->
        <i class="fa fa-lock block-item" id="block-<%= user.id %>" name="<%= user.name %>" action="open"></span>
      <% end %>
    <% end %>
  </td>
</tr>
