<header>
  <div id="menu_bar" class="">
    <div class="row">
      <div class="medium-1 small-1 columns hide-for-large-up menu-mb-icon">
        <button class="menu-mb">☰</button>
      </div>
      <div class="large-2 medium-3 small-7 columns logo">
        <div class="row">
          <h1> <%= link_to image_tag("logo.png", alt: "auction logo"), root_path %>
          </h1>
        </div>
      </div>
      <div class="large-9 columns menu show-for-large-up">
        <div class="row">
          <div class="main-menu">
            <div id="mega-menu-wrap-main-menu" class="mega-menu-wrap">
              <div class="mega-menu-toggle">
                <div class="mega-toggle-blocks-left"></div>
                <div class="mega-toggle-blocks-center"></div>
                <div class="mega-toggle-blocks-right">
                  <div class="mega-toggle-block mega-menu-toggle-block mega-toggle-block-1" id="mega-toggle-block-1" tabindex="0"><span class="mega-toggle-label" role="button" aria-expanded="false"><span class="mega-toggle-label-closed">MENU</span><span class="mega-toggle-label-open">MENU</span></span></div>
                </div>
              </div>
              <ul id="mega-menu-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="slide" data-effect-speed="600" data-effect-mobile="disabled" data-effect-speed-mobile="200" data-mobile-force-width="false" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true">
                <div id="mega-menu-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="slide" data-effect-speed="600" data-effect-mobile="disabled" data-effect-speed-mobile="200" data-mobile-force-width="false" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true" style="float: left;">                
                  <%= render @categories %>
                  <li class="mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-13068" id="mega-menu-item-13068">
                    <%= link_to 'SALE', products_promotions_path, class: "mega-menu-link" %>
                  </li>
                </div>
                <div id="mega-menu-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="slide" data-effect-speed="600" data-effect-mobile="disabled" data-effect-speed-mobile="200" data-mobile-force-width="false" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true" style="float: right;">
                  <% if logged_in? %>
                    <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout">
                      Hi, <%= current_user.name %>
                    </li>                    
                    <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout dropdown">
                      <a href="#" class="mega-menu-link dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <%= link_to "My Profile", edit_user_path(current_user) , 'data-user-id' => current_user.id, id: 'user-notif'%>
                        </li>
                        <li><%= link_to "My auction", user_auctions_path(current_user)%>
                        </li>

                        <% if admin_user? %>
                          <li>
                            <%= link_to "Go to Admin Page", admin_root_path %>
                          </li>
                        <% end %>
                        <li>
                          <%= link_to "Log out", logout_path, method: :delete %>
                        </li>
                      </ul>
                    </li>
                  <% else %>
                    <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout">
                      <%= link_to "Log in", login_path, class: "mega-menu-link" %>
                    </li>
                    <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout">
                      <%= link_to "Sign up", signup_path, class: "mega-menu-link" %>
                    </li>
                  <% end %>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-1 medium-8 small-4 columns cart-box text-right">
        <div class="row">
          <% if logged_in? %>
            <%= link_to user_orders_path(current_user), class: "cart", id: "mini-cart" do %>
              <span class="cart-total" id="itemCount"><%= cart_items&.size.to_i %></span>
              <div class="show-for-large-up">
                <div id="woocommerce_widget_cart-2" class="widget-odd widget-last widget-first widget-1 widget woocommerce widget_shopping_cart">
                  <div class="widget_shopping_cart_content">
                    <% if cart_items&.any? %>
                      <ul class="cart_list product_list_widget ">
                        <% cart_items.each do |item| %>
                          <li class="mini_cart_item">
                            <div class="mini-cart-thumb">
                              <%= image_tag(item.product.assets.first.file_url, width: "250", height: "225", class: "attachment-woocommerce_thumbnail size-woocommerce_thumbnail", alt: "") %>
                            </div>
                            <div class="mini-cart-info">
                              <div class="product-name"><%= item.product.name %></div>
                              <div class="variation">
                                <div class="variation-item">
                                  <div class="variation-Musc variation-label">Color:</div>
                                  <div class="variation-Musc variation-value">
                                    <p><%= item.product.color || 'N/A' %></p>
                                  </div>
                                </div>
                              </div>
                              <span class="quantity">Size: <%= item.product.size || 'N/A' %></span>
                            </div>
                          </li>
                        <% end %>
                      </ul>
                      <p class="notice-fee"><em>(*)Not including promotion and shipping fee</em></p>
                      <p class="total">
                        <span class="subtotal-title">Total order:</span> 
                        <span class="mini-cart-subtotal">
                          <span class="woocommerce-Price-amount amount">
                            <%= number_with_delimiter(cart_items.sum(&:amount), :delimiter => ',') %>&nbsp;
                            <span class="woocommerce-Price-currencySymbol">VNĐ</span>
                          </span>		
                        </span>
                      </p>
                    <% else %>
                      <ul class="cart_list product_list_widget ">
                        <li class="empty">No item.</li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= link_to '#', class: "cart", id: "mini-cart" do %>
              <span class="cart-total" id="itemCount">0</span>
              <div class="show-for-large-up">
                <div id="woocommerce_widget_cart-2" class="widget-odd widget-last widget-first widget-1 widget woocommerce widget_shopping_cart">
                  <div class="widget_shopping_cart_content">
                    <ul class="cart_list product_list_widget ">
                      <li class="empty">No item.</li>
                    </ul>
                  </div>
                </div>
              </div>
            <% end %>      
          <% end %>
          <div class="search-block">
            <%= form_tag search_path, method: :get, id: 'searchform', name: "searchform" do %>
              <button class="search-button" type="submit" value="Search" onclick="return IsEmpty();"></button>
              <input type="text" id="s" name="s" value="" placeholder="Search..." autocomplete="off">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
