<header>
  <div id="menu_bar" class="">
    <div class="row">
      <div class="medium-1 small-1 columns hide-for-large-up menu-mb-icon">
        <button class="menu-mb">☰</button>
      </div>
      <div class="large-2 medium-3 small-7 columns logo">
        <div class="row">
          <h1> <%= link_to image_tag("logo.png", alt: "auction logo"), root_path %>
          </h1>
        </div>
      </div>
      <div class="large-9 columns menu show-for-large-up">
        <div class="row">
          <div class="main-menu">
            <div id="mega-menu-wrap-main-menu" class="mega-menu-wrap">
              <div class="mega-menu-toggle">
                <div class="mega-toggle-blocks-left"></div>
                <div class="mega-toggle-blocks-center"></div>
                <div class="mega-toggle-blocks-right">
                  <div class="mega-toggle-block mega-menu-toggle-block mega-toggle-block-1" id="mega-toggle-block-1" tabindex="0"><span class="mega-toggle-label" role="button" aria-expanded="false"><span class="mega-toggle-label-closed">MENU</span><span class="mega-toggle-label-open">MENU</span></span></div>
                </div>
              </div>
              <ul id="mega-menu-main-menu" class="mega-menu max-mega-menu mega-menu-horizontal" data-event="hover_intent" data-effect="slide" data-effect-speed="600" data-effect-mobile="disabled" data-effect-speed-mobile="200" data-mobile-force-width="false" data-second-click="close" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="600" data-unbind="true">
                <%= render @categories %>
                <% if logged_in? %>
                  <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout" style="margin-left: 370px;"><%= link_to "My auction", user_auctions_path(current_user), class: "mega-menu-link" %></li>
                  <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout dropdown">
                    <a href="#" class="mega-menu-link dropdown-toggle" data-toggle="dropdown">
                      Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                      <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-13066" id="mega-menu-item-13066"><a class="mega-menu-link"><%= link_to "Settings", edit_user_path(current_user) , 'data-user-id' => current_user.id, id: 'user-notif', class: "mega-menu-link"%></li>
                      <% if admin_user? %>
                        <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-13066" id="mega-menu-item-13066"><a class="mega-menu-link"><%= link_to "Admin", admin_root_path, class: "mega-menu-link" %></li>
                      <% end %>
                    <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-13066" id="mega-menu-item-13066"><a class="mega-menu-link">
                      <%= link_to "Log out", logout_path, method: :delete, class: "mega-menu-link" %>
                    </li>
                    </ul>
                  </li>
                <% else %>
                  <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout" style="margin-left: 370px;">
                    <%= link_to "Log in", login_path, class: "mega-menu-link" %>
                  </li>
                  <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-product_cat mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout">
                    <%= link_to "Sign up", signup_path, class: "mega-menu-link" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="large-1 medium-8 small-4 columns cart-box text-right">
        <div class="row">
          <% if logged_in? %>
            <%= link_to user_orders_path(current_user), class: "cart", id: "mini-cart" do %>
              <span class="cart-total"><%= cart_items&.size.to_i %></span>
              <div class="show-for-large-up">
                <div id="woocommerce_widget_cart-2" class="widget-odd widget-last widget-first widget-1 widget woocommerce widget_shopping_cart">
                  <div class="widget_shopping_cart_content">
                    <% if cart_items.any? %>
                      <ul class="cart_list product_list_widget ">
                        <% cart_items.each do |item| %>
                          <li class="mini_cart_item">
                            <div class="mini-cart-thumb">
                              <%= image_tag(item.product.assets.first.file_url, width: "250", height: "225", class: "attachment-woocommerce_thumbnail size-woocommerce_thumbnail", alt: "") %>
                            </div>
                            <div class="mini-cart-info">
                              <div class="product-name"><%= item.product.name %></div>
                              <div class="variation">
                                <div class="variation-item">
                                  <div class="variation-Musc variation-label">Color:</div>
                                  <div class="variation-Musc variation-value">
                                    <p>Đen Xanh</p>
                                  </div>
                                </div>
                              </div>
                              <span class="quantity">Size: <%= item.product.size %></span>						
                            </div>
                          </li>
                        <% end %>
                      </ul>
                      <p class="total">
                        <span class="subtotal-title">Money:</span> 
                        <span class="mini-cart-subtotal">
                        <span class="woocommerce-Price-amount amount">1.250.000&nbsp;<span class="woocommerce-Price-currencySymbol">VNĐ</span></span>		</span>
                      </p>
                    <% else %>
                      <ul class="cart_list product_list_widget ">
                        <li class="empty">No item.</li>
                      </ul>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="search-block">
            <form method="get" id="searchform" name="searchform" action="https://fandy.vn/">
              <button class="search-button" type="submit" value="Tìm kiếm" onclick="return IsEmpty();"></button>
              <input type="text" id="s" name="s" value="" placeholder="Tìm kiếm..." autocomplete="off">
              <input type="hidden" name="post_type" value="product">
            </form>
            <div class="search-panel"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
