<div class="header">
	<div class="container">
		<div class="header-main">
			<div class="logo">
        <%= link_to image_tag("logo.png", alt: "auction logo"), root_path %>
			</div>
      <div class="head-right">
			  <div class="top-nav">
				  <ul class="res">
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="change-status">
                  <i class="fa fa-bell"></i>
                  <% if @quantity_notif > 0 %>
                    <span class="notification" id="quantity-notify"><%= @quantity_notif %></span>
                  <% else %>
                     <span class="notification" id="quantity-notify" style="display: none;">0</span>
                  <% end %>
                </a>
                <ul class="dropdown-menu" id="list-notif">
                  <% @notifications.each do |notif| %>
                    <li>
                      <a href="/auctions/<%= notif.timer_id %>">
                        <div>
                          <div><%= notif.content %></div>
                          <div><%= notif.created_at %></div>
                        </div>
                      </a>
                    </li>
                  <% end %>
                </ul>
              </li>   
              <li><%= link_to "My auction", '' %></li>
              <li>
                <%= link_to raw('<i class="glyphicon glyphicon-shopping-cart"> Cart</i>'), user_orders_path(current_user), class: "cart" %>
              </li>
              <li>
                <% if size_cart > 0 %>
                 <span id="itemCount"><%= size_cart.to_s %></span>
                <% else %>
                  <span id="itemCount" style="display: none">0</span>
                <% end %>
              </li>  
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Settings", edit_user_path(current_user) , 'data-user-id' => current_user.id, id: 'user-notif'%></li>
                  <% if admin_user? %>
                    <li><%= link_to "Admin", admin_root_path %></li>
                  <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
                </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
            <% end %>
          </ul>
			  </div>				
			  <div class="clearfix"></div>
		  </div>
			<div class="head-left">
			  <div class="top-nav">
				  <ul class="res">
            <%= render @categories %>            
            <div class="clearfix"> </div>
          </ul>
			  </div>				
		  	<div class="clearfix"> </div>
		  </div>
		
		<div class="clearfix"> </div>
		</div>
	</div>
</div>
