<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <% action_cable_meta_tag %>
    <%= stylesheet_link_tag    'public/application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'public/application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div id="container">
      <% flash.each do |message_type, message| %>
        <div class="col-lg-12">
          <div class="float-right alert alert-<%= message_type %> col-sm-3"><%= message %></div>
        </div>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>   
  </body>
</html>
